{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block extra_js %}
    <script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" href="/static/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="/static/css/tiles.css" type="text/css" media="screen" />

{% endblock %}

{% block base_content %}
    <div class="tile-grid">
        <!-- First Row -->
        <div class="tile tile-grid-item tile-column-12">
            <div class="promo-container">
                {% placeholder orologi_top %}
            </div>
        </div>

        <!-- Second Row -->
        <div class="tile tile-grid-item tile-column-4">
            <div class="promo-container">
                {% placeholder promo_image_2_1 %}
            </div>
        </div>
        <div class="tile tile-grid-item tile-column-8">
            <div class="promo-container">
                {% placeholder promo_image_2_2 %}
            </div>
        </div>

        <!-- Third Row -->
        <div class="tile tile-grid-item tile-column-8" style='clear: both;'>
            <div class="promo-container">
                {% placeholder promo_image_3_1 %}
            </div>
        </div>

        <div class="tile tile-grid-item tile-column-4">
            <div class="promo-container">
                {% placeholder promo_image_3_2 %}
            </div>
        </div>
    </div>



    <div style='clear:both;'></div>


{% endblock %}

</script>
