{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block extra_js %}
{% endblock %}

{% block base_content %}
    <div style="margin: 20px 0px 60px 0px;">
    <div style='width:40%; position: relative; float: left;margin-right:10px;' class='contatti'>
        {% placeholder contatti_testo %}
    </div>

    <div style='width:50%; position: relative; float: left;'>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJz6cH_36Y1BIRuwMTCqGDD_o&key=AIzaSyCycKTGdoH2N3fUctSEy3ZeEv-0ku5Gnik" allowfullscreen></iframe>
    </div>
    </div>

    <hr style="clear: both; display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;">

    <div style="margin: 20px 0px 60px 0px;margin-top: 20px;">
        <div style='width:40%; position: relative; float: left;margin-right:10px;' class='contatti'>
            {% placeholder contatti_testo_rapallo %}
        </div>

        <div style='width:50%; position: relative; float: left;'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2853.10320723287!2d9.22764531552048!3d44.348930979103606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4a04bc8ef12a5%3A0x3df24d440000de30!2sVia+Fratelli+Cairoli%2C+4%2C+16035+Rapallo+GE%2C+Italy!5e0!3m2!1sen!2sus!4v1451230522030" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}