{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block extra_js %}
{% endblock %}

{% block base_content %}
    <div style="margin: 20px 0px 60px 0px;">
    <div style='width:40%; position: relative; float: left;margin-right:10px;' class='contatti'>
        {% placeholder contatti_testo %}
    </div>

    <div style='width:50%; position: relative; float: left;'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2854.656455949989!2d9.325838!3d44.317012600000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4987eff11f18d%3A0xc1a3402aec43343f!2sGioielleria+Lucchetti!5e0!3m2!1sen!2sus!4v1438302874094" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
{% endblock %}