{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block base_content %}

            <h1 class="underline-title">Le Ultime Novita'</h1>
            <div class="main wrapper clearfix">

                <div class='news-wrapper'>
                    <div style='background-image: url(/media/paguro.jpg);  width:300px; height:300px;' ></div>
                    <h2>
                        Il Mare
                    </h2>
                    <p>Un po' di test che dovrebbe andare su due righe</p>
                </div>

            </div> <!-- #main -->

  {% placeholder template_1_content %}
{% endblock %}
