{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block extra_js %}
{% endblock %}

{% block base_content %}
    <div style='margin-left:50%; position relative; left: 400px; margin-top: 40px; margin-bottom: 40px; '>
    <iframe id="rolex-digital-corners" src="http://www.rolex.com/digital-corners/DigitalCorners.aspx?lang=it&size=3&dealerAPIKey=2bb0e4657b7a368844ae36d214b60906&currentDomain=http://www.rolex.com&imageDomain=http://www.rolex.com&apiDomain=http://www.rolex.com"
            style="width:800px;height:500px;border:none;overflow:hidden;"></iframe>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer-container" style="background-color:white; margin-top:10px;margin-bottom:10px;background-color: lightblue;">
        <div class="left-footer" style="margin-left: 50%; left:-37px; margin-top: 20px; margin-bottom: 20px;">
            <img class="filer_image left" alt="putto.jpg" src="/media/filer_public_thumbnails/filer_public/ea/6d/ea6d33b0-6b8a-4728-a2fb-01fbc7d1bcdd/putto.jpg__150x150_q85_crop_subsampling-2_upscale.jpg" width="150" height="150">
        </div>
    </div>
{% endblock %}