{% extends "base-negozio.html" %}
{% load cms_tags %}

{% block extra_js %}
{% endblock %}

{% block base_content %}
    <div style='margin-left:50%; position: relative; left: -400px; margin-top: 40px; margin-bottom: 20px;'>
    <iframe id="rolex-digital-corners" src="http://www.rolex.com/digital-corners/DigitalCorners.aspx?lang=it&size=3&dealerAPIKey=31f5c0b8e657723022d6bebc9c7196a8&currentDomain=http://www.rolex.com&imageDomain=http://www.rolex.com&apiDomain=http://www.rolex.com"
            style="width:800px;height:500px;border:none;overflow:hidden;"></iframe>
    </div>
{% endblock %}
